{% extends "base3.html" %}
{% block title %}{% endblock title %}
{% block content %}

<style>
    .adm{
        position: absolute;
        top: calc(30% - 100px);
        left: calc(45% - 200px);
        height: 800px;
        width: 1000px;
        background-color: #D3D3D3;
        color: #191970;
        border-radius: 30px;
        padding: 20px;
        font-size: 25px;
    }
    .admni input[type=email]{
		width: 500px;
		height: 50px;
		background-color: #2F4F4F;
		border: 1px solid rgba(255,255,255,0.6);
		border-radius: 2px;
		color: #F7F9FC;
		font-family: 'Exo', sans-serif;
		font-size: 25px;
		font-weight: 400;
		padding: 4px;
		margin-top: 10px;
	}
    .admni input[type=password]{
		width: 500px;
		height: 50px;
		background-color: #2F4F4F;
		border: 1px solid rgba(255,255,255,0.6);
		border-radius: 2px;
		color: #F7F9FC;
		font-family: 'Exo', sans-serif;
		font-size: 25px;
		font-weight: 400;
		padding: 4px;
		margin-top: 10px;
	}
    .admni input[type=date]{
		width: 500px;
		height: 50px;
		background-color: #2F4F4F;
		border: 1px solid rgba(255,255,255,0.6);
		border-radius: 2px;
		color: #F7F9FC;
		font-family: 'Exo', sans-serif;
		font-size: 25px;
		font-weight: 400;
		padding: 4px;
		margin-top: 10px;
	}
    .admni input[type=text]{
		width: 500px;
		height: 50px;
		background-color: #2F4F4F;
		border: 1px solid rgba(255,255,255,0.6);
		border-radius: 2px;
		color: #F7F9FC;
		font-family: 'Exo', sans-serif;
		font-size: 25px;
		font-weight: 400;
		padding: 4px;
		margin-top: 10px;
	}
    .admni input[type=submit]{
        width: 500px;
        height: 50px;
        background: #978989;
        border: 1px solid #fff;
        cursor: pointer;
        border-radius: 2px;
        color: #FFFFFF;
        font-size: 25px;
        font-weight: 400;
        padding: 4px;
        margin-top: 10px;
    }
</style>

<main>
        <div class="adm">
			<h3>管理員+</h3>
			<div class="admni">
            <form action = "/administrator" method ="post">
                    <input type ="email" placeholder ="email" name = "user"><br>
                    <input type ="password" placeholder ="password" name = "passwd"><br>
                    <input type ="text" placeholder ="name" name = "name"><br>
                    <input type ="text" placeholder ="phonenumber" name = "phonenumber"><br>
                    <input type ="date" placeholder ="birthday" name = "birthday"><br>
                    <input type ="text" placeholder ="job title" name = "address"><br>
                    <input type ="submit" value = "REGISTER">
                    <ul class=flashes>
                        <li>{{ message }}</li>   
                    </ul>    
</main>
{% endblock %}