{% extends "base.html" %}
{% block title %}cart{% endblock %}
{% block content %}
<style>
    .card {
        width: 288px;
        align-items: center;
        display: -webkit-inline-flex;
        justify-content: space-between;
        margin: 2 auto;
    }
</style>


<body>
    <h1>您的購物車</h1>

    <table>
        <tbody>
            {% if cart_items %}
            {% for item in cart_items %}
            <div class="card">
                <ul>
                    <li><img src="{{item[5]}}" alt="{{item[3]}}"> </li>
                    <li>{{ item[3] }}</li>
                    <li>{{ item[4] }}</td>
                    <li>
                        <!-- Add a "Remove" button with a form -->
                        <form action="/remove_from_cart" method="POST">
                            <input type="hidden" name="product_id" value="{{ item[1] }}">
                            <input type="submit" name="remove_from_cart" value="移出購物車">
                        </form>
                    </li>
                </ul>
            </div>
            {% endfor %}
            {% else %}
            <tr>
                <td colspan="2">目前沒有商品</td>

                {% endif %}
        </tbody>

    </table>
    <p>總金額: ${{ total_price }}</p>

    <a href="/">繼續購物</a>

    <form action="/checkout" method="post">
        <input type="hidden" name="total_price" value="{{ total_price }}">
        <input type="submit" name="checkout" value="確認購買">
    </form>
    <form action="clear_cart">
        <input type="submit" name="clear_cart" value="全部移除">
    </form>
</body>

{% endblock %}