{% extends "base.html" %}
{% block title %}cart{% endblock %}
{% block content %}
<h1>Shopping Cart</h1>
    <table>
        <tr>
            <th>Product</th>
            <th>Price</th>
            <th>Action</th>
        </tr>
        {% for product_id, item in cart.items() %}
        <tr>
            <td>{{ item.name }}</td>
            <td>${{ item.price }}</td>
            <td>
                <form action="/remove_from_cart/{{ product_id }}" method="post">
                    <input type="submit" value="Remove">
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
    <p>Total: ${{ total_price }}</p>


{% endblock %}