{% extends "base.html" %}
{% block title %}category{% endblock %}
{% block content %}

<body>
  <div class="container">
    <p>共 {{ row_count }}項商品</p>
    <div class="product-list">
      {% for product in products %}
      <div class="product">
        <form action="../add_to_cart" method="POST">
          <img src="{{ product[3] }}" alt="{{ product[1] }}">
          <h3>{{ product[1] }}</h3>
          <p>Price: ${{ product[2] }}</p>
          <!-- Add other product details and formatting as needed -->
          <input type="hidden" name="product_id" value="{{ product[0] }}">
          <input type="hidden" name="page_url" value="/category/{{category_name}}">
          <input type="submit" name="add_to_cart" value="加入購物車"><br>
        </form>
        <a href="../salePage/{{ product[0] }}" class="button">商品詳情</a>
      </div>
      {% if loop.index % 4 == 0 %}
      <div style="clear: both;"></div> <!-- Clear the float every four products -->

      {% endif %}

      {% endfor %}
    </div>
  </div>
</body>



{% endblock %}