{% extends "base.html" %}
{% block title %}category{% endblock %}
{% block content %}

<style>
  .card {
    width: 288px;
    align-items: center;
    display: -webkit-inline-flex;
    justify-content: space-between;
    margin: 2 auto;
  }

  .product {
    width: 20%;
    /* Set the width of each product to fit four in a row */
    margin: 1%;
    padding: 10px;
    border: 1px solid #ccc;
    display: inline-block;
    vertical-align: top;
    transition: transform 0.3s ease-in-out;
  }
  .product:hover {
    transform: scale(1.05); /* 放大容器 */
  }
  .product-title {
    height: 48px;
    margin-bottom: 50px; /* 添加底部外边距，以与产品价格分隔 */
  }

  .product-price {
    color: red;
    margin-top: 50px; /* 添加顶部外边距，以与产品名称分隔 */
  }
  .hover-effect {
    /* Add your default styles here */
    transition: transform 0.3s ease;
    /* Smooth transition effect */

    /* Add other default styles as needed */
  }

  .hover-effect:hover {
    /* Define the styles to apply when hovering */
    transform: scale(1.1);
    /* Scale the image by 10% when hovered */
    /* Add other styles for the hover effect */
  }
</style>

<body>
  <div class="container">
    <hr>
    <p class="subtitle is-4">共 {{ row_count }}項商品</p>

    <div class="product-list">
      {% for product in products %}
      <div class="product hover-effect">
        <a href="../salePage/{{ product[0] }}">
          <img src="{{ product[3] }}" alt="{{ product[1] }}">
        </a>
        <h5><div class="product-title">{{ product[1] }}</div></h5>
        <div class="product-price">{{ product[2] }}</div>
        <nav class="level">
          <div class="level-left">
            <div class="level-item">
              <a href="../salePage/{{ product[0] }}" class="button is-warning">商品詳情</a>
            </div>
          </div>
          <div class="level-right">
            <form action="../add_to_cart" method="POST">
              <input type="hidden" name="product_id" value="{{ product[0] }}">
              <input type="submit" class="button is-link" name="add_to_cart" value="加入購物車"><br>
            </form>
          </div>
        </nav>
      </div>
      {% endfor %}
    </div>
  </div>
</body>



{% endblock %}