{% extends "base2.html" %}
{% block title %}{% endblock title %}
{% block content %}

<style>
    .memb input[type=text]{
		width: 300px;
		height: 40px;
		background-color: #000080;
		border: 1px solid rgba(255,255,255,0.6);
		border-radius: 2px;
		color: #F7F9FC;
		font-family: 'Exo', sans-serif;
		font-size: 25px;
		font-weight: 400;
		padding: 4px;
		margin-top: 10px;
	}
    .memb input[type=submit]{
        width: 90px;
        height: 35px;
        background: #978989;
        border: 1px solid #fff;
        cursor: pointer;
        border-radius: 2px;
        color: #FFFFFF;
        font-size: 15px;
        font-weight: 400;
        padding: 6px;
        margin-top: 10px;
    }
    
</style>

<main>
    <div class="memb">
        <h3>重設密碼</h3>
        <form action = "/changePassword" method ="post">
            <input type ="text" placeholder ="original password" name = "orpasswd"><br>
            <input type ="text" placeholder ="New password" name = "nepasswd"><br>
            <input type ="text" placeholder ="password again" name = "passwdag"><br>
            <input type ="submit" value = "Revise">
            <ul class=flashes>
                <li>{{ message }}</li>   
            </ul>
    </main>
{% endblock %}