{% extends "base.html" %}
{% block title %}checkout{% endblock title %}
{% block content %}

<style>
    .card {
        width: 288px;
        align-items: center;
        display: -webkit-inline-flex;
        justify-content: space-between;
        margin: 2 auto;
    }

    .Inner-container {
        flex-direction: row;
        /* Horizontal layout */
        background-color: rgb(243, 237, 237);
        border-radius: 12px;
        padding: 20px;
    }

    .line {
        border-top: 1px solid #ccc;
    }

    .media {
        align-items: center;
    }
</style>



<body>
    <div class="container"><br>
        <div class="Inner-container">
            <div class="box">
                <div class="field">
                    <h2 class="subtitle is-4">購物內容</h2>
                    <hr class="line">
                    <p class="subtitle is-4">訂單編號: {{ order_id }}</p>
                    <p class="subtitle is-4">消費日期: {{ order_date }}</p>
                    <nav class="level">
                        <div class="level-left">
                            <p class="title is-3">
                                <strong>總計: NT${{ total_price }}</strong>
                            </p>
                        </div>
                        <div class="level-right">
                            <a href="/" class="button is-link">繼續購物</a>
                        </div>
                    </nav>
                </div>
            </div>
            <!-- Loop through and display order details -->
            {% for item in cart_items %}
            <div class="box">
                <article class="media">
                    <div class="media-left">
                        <figure class="image is-128x128">
                            <img src="{{item[5]}}" alt="{{item[3]}}">
                        </figure>
                    </div>
                    <div class="media-content">
                        <nav class="level is-mobile">
                            <div class="level-left">
                                <h3 class="title is-3">{{item[3]}}</h3>
                            </div>
                            <div class="level-right">
                                <h3 class="title is-2">{{item[4]}}</h3>
                            </div>
                        </nav>
                    </div>
                </article>
            </div>

            {% endfor %}

        </div>
</body>

{% endblock %}