{% extends "base3.html" %}
{% block title %}{% endblock title %}
{% block content %}

<style>
	.adm {
		position: absolute;
		top: calc(30% - 100px);
		left: calc(45% - 200px);
		height: 800px;
		width: 1000px;
		background-color: #D3D3D3;
		color: #191970;
		border-radius: 30px;
		padding: 20px;
		font-size: 25px;
	}

	.adm input[type=text] {
		width: 300px;
		height: 40px;
		background-color: #DB7093;
		border: 1px solid rgba(255, 255, 255, 0.6);
		border-radius: 2px;
		color: #FFFFFF;
		font-family: 'Exo', sans-serif;
		font-size: 20px;
		font-weight: 400;
		padding: 4px;
		margin-top: 10px;
	}

	.adm input[type=submit] {
		width: 90px;
		height: 40px;
		background: #978989;
		border: 1px solid #fff;
		cursor: pointer;
		border-radius: 2px;
		color: #FFFFFF;
		font-size: 18px;
		font-weight: 400;
		padding: 4px;
		margin-top: 10px;
	}

	.admmm {
		position: absolute;
		top: calc(45% - 90px);
		left: calc(45% - 150px);


	}

	.admmm input[type=email] {
		width: 500px;
		height: 50px;
		background-color: #2F4F4F;
		border: 1px solid rgba(255, 255, 255, 0.6);
		border-radius: 2px;
		color: #F7F9FC;
		font-family: 'Exo', sans-serif;
		font-size: 25px;
		font-weight: 400;
		padding: 4px;
		margin-top: 10px;
	}

	.admmm input[type=password] {
		width: 500px;
		height: 50px;
		background-color: #2F4F4F;
		border: 1px solid rgba(255, 255, 255, 0.6);
		border-radius: 2px;
		color: #F7F9FC;
		font-family: 'Exo', sans-serif;
		font-size: 25px;
		font-weight: 400;
		padding: 4px;
		margin-top: 10px;
	}

	.admmm input[type=date] {
		width: 500px;
		height: 50px;
		background-color: #2F4F4F;
		border: 1px solid rgba(255, 255, 255, 0.6);
		border-radius: 2px;
		color: #F7F9FC;
		font-family: 'Exo', sans-serif;
		font-size: 25px;
		font-weight: 400;
		padding: 4px;
		margin-top: 10px;
	}

	.admmm input[type=text] {
		width: 500px;
		height: 50px;
		background-color: #2F4F4F;
		border: 1px solid rgba(255, 255, 255, 0.6);
		border-radius: 2px;
		color: #F7F9FC;
		font-family: 'Exo', sans-serif;
		font-size: 25px;
		font-weight: 400;
		padding: 4px;
		margin-top: 10px;
	}

	.admmm input[type=submit] {
		width: 500px;
		height: 50px;
		background: #978989;
		border: 1px solid #fff;
		cursor: pointer;
		border-radius: 2px;
		color: #FFFFFF;
		font-size: 25px;
		font-weight: 400;
		padding: 4px;
		margin-top: 10px;
	}

	.admmm input[type=button] {
		width: 500px;
		height: 50px;
		background: #978989;
		border: 1px solid #fff;
		cursor: pointer;
		border-radius: 2px;
		color: #FFFFFF;
		font-size: 25px;
		font-weight: 400;
		padding: 4px;
		margin-top: 10px;
	}
</style>

<main>
	<div class="adm">
		<h3>會員資料修改-請先搜尋用戶資料,確認資料內容</h3>
		<hr>
		<h3>會員帳戶: {{ records[1] }}</h3>

	</div>

	<div class="admmm">
		<form action="datam" method="POST">
			<input type="hidden" name="user" value="{{ records[1] }}">
			<label for="passwd">密碼</label><br>
			<input type="password" placeholder="{{ records[2] }}" name="passwd" id="passwd"><br>
			<label for="name">使用者名稱</label><br>
			<input type="text" placeholder="{{ records[3] }}" name="name" id="name"><br>
			<label for="pho">電話號碼</label><br>
			<input type="text" placeholder="{{ records[4] }}" name="pho" id="pho"><br>
			<label for="bir">生日</label><br>
			<input type="text" placeholder="{{ records[5] }}" name="bir" id="bir"><br>
			<label for="addr">住址</label><br>
			<input type="text" placeholder="{{ records[6] }}" name="addr" id="addr"><br>
			<input type="submit" value="Revise"><br>
			<input type="button" onclick="history.back()" value="back">
		</form>

	</div>
	</div>

</main>
{% endblock %}