{% extends "base.html" %}
{% block title %}homepage{% endblock %}
{% block content %}

<style>
  .product {
    width: 20%;
    /* Set the width of each product to fit four in a row */
    margin: 1%;
    padding: 10px;
    border: 1px solid #ccc;
    display: inline-block;
    vertical-align: top;
    transition: transform 0.3s ease-in-out;
  }

  .product:hover {
    transform: scale(1.05);
    /* 放大容器 */
  }

  .product-title {
    height: 48px;
    margin-bottom: 50px;
    /* 添加底部外边距，以与产品价格分隔 */
  }

  .product-price {
    color: red;
    margin-top: 50px;
    /* 添加顶部外边距，以与产品名称分隔 */
  }

  .hover-effect {
    /* Add your default styles here */
    transition: transform 0.3s ease;
    /* Smooth transition effect */

    /* Add other default styles as needed */
  }

  .hover-effect:hover {
    /* Define the styles to apply when hovering */
    transform: scale(1.1);
    /* Scale the image by 10% when hovered */
    /* Add other styles for the hover effect */
  }
</style>

<body>
  <div class="container">
    <img src="{{ url_for('static', filename='images/i1.jpg') }}" alt="poster" class="img-fluid">
  </div>
  <section class="container section-gap">
    <div class="row">
      <div class="col-md-12">
        <h2 class="text-center">Welcome to Gaming Time!</h2>
        <!-- 这里可以添加其他标题内容 -->
      </div>
    </div>
  </section>
  <div class="container">
    <h2 class="text-center">推薦商品</h2>
    <div class="product-list">
      {% for rec in recommendations %}
      <div class="product hover-effect">
        <a href="../salePage/{{ rec[0] }}">
          <img src="{{ rec[3] }}" alt="{{ rec[1] }}">
        </a>
        <h5>
          <div class="product-title">{{ rec[1] }}</div>
        </h5>
        <div class="product-price">{{ rec[2] }}</div>
        <nav class="level">
          <div class="level-left">
            <div class="level-item">
              <a href="../salePage/{{ rec[0] }}" class="button is-warning">商品詳情</a>
            </div>
          </div>
          <div class="level-right">
            <form action="../add_to_cart" method="POST">
              <input type="hidden" name="product_id" value="{{ rec[0] }}">
              <input type="submit" class="button is-link" name="add_to_cart" value="加入購物車"><br>
            </form>
          </div>
        </nav>
      </div>
      {% endfor %}
    </div>

  </div>

  <footer class="footer-area section_gap">
    <section class="testimonial_area section_gap">

      <div class="testimonial_slider owl-carousel">
        <div class="image-container">
          <img class="" src="{{ url_for('static', filename='images/i2.jpg') }}" alt="">

        </div>
        <div class="image-container">
          <img class="" src="{{ url_for('static', filename='images/i3.jpg') }}" alt="">

        </div>
        <div class="image-container">
          <img class="" src="{{ url_for('static', filename='images/i4.jpg') }}" alt="">

        </div>
        <div class="image-container">
          <img class="" src="{{ url_for('static', filename='images/i5.jpg') }}" alt="">

        </div>
        <div class="image-container">
          <img class="" src="{{ url_for('static', filename='images/i6.jpg') }}" alt="">
        </div>
      </div>
      <br>

      <div class="container">
        <h2 class="text-center">熱門商品</h2>
        <div class="product-list">
          {% for product in products %}
          <div class="product hover-effect">
            <a href="../salePage/{{ product[0] }}">
              <img src="{{ product[3] }}" alt="{{ product[1] }}">
            </a>
            <h5>
              <div class="product-title">{{ product[1] }}</div>
            </h5>
            <div class="product-price">{{ product[2] }}</div>
            <nav class="level">
              <div class="level-left">
                <div class="level-item">
                  <a href="../salePage/{{ product[0] }}" class="button is-warning">商品詳情</a>
                </div>
              </div>
              <div class="level-right">
                <form action="../add_to_cart" method="POST">
                  <input type="hidden" name="product_id" value="{{ product[0] }}">
                  <input type="submit" class="button is-link" name="add_to_cart" value="加入購物車"><br>
                </form>
              </div>
            </nav>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>

    <section class="accomodation_area section_gap">
      <div class="container">
        <div class="section_title text-center">
        </div>

    </section>
</body>

{% endblock %}