{% extends "base.html" %}
{% block title %}登入{% endblock title %}
{% block content %}

<style>
    .login{
        position: absolute;
        top: calc(60% - 200px);
        left: calc(50% - 200px);
        height: 400px;
        width: 700px;
        background-color: #D3D3D3;
        padding: 80px;
        
    }
    .login input[type=email]{
        width: 500px;
        height: 40px;
        background-color: #2F4F4F;
        border: 1px solid rgba(255,255,255,0.6);
        border-radius: 2px;
        color: #FFFFFF;
        font-family: 'Exo', sans-serif;
        font-size: 30px;
        font-weight: 400;
        padding: 4px;
    }
    
    .login input[type=password]{
        width: 500px;
        height: 40px;
        background-color: #2F4F4F;
        border: 1px solid rgba(255,255,255,0.6);
        border-radius: 2px;
        font-size: 30px;
        font-weight: 400;
        padding: 4px;
        margin-top: 10px;
    }
    .login input[type=submit]{
        width: 200px;
        height: 40px;
        background: #978989;
        border: 1px solid #fff;
        cursor: pointer;
        border-radius: 2px;
        color: #FFFFFF;
        font-size: 25px;
        font-weight: 400;
        padding: 6px;
        margin-top: 10px;
    }
    .login input[type=text]:focus{
        outline: none;
        border: 1px solid rgba(255,255,255,0.9);
    }
    
    .login input[type=password]:focus{
        outline: none;
        border: 1px solid rgba(255,255,255,0.9);
    }

    .flashes {
        font-size: 27px;

    }
</style>


<main>
    <div class="login">
        <h2>登入</h2>
    <form action = "/login" method ="post">
            <input type ="email" placeholder ="username" name = "user"><br>
            <input type ="password" placeholder ="password" name = "passwd"><br>
            <input type="submit" name="login" value="SIGN IN">
            <input type="submit" name="reg" value="REGISTER">
            <ul class=flashes>
                <li>{{ message }}</li>   
            </ul>
    </main>		

{% endblock %}