{% extends "base3.html" %}
{% block title %}{% endblock title %}
{% block content %}

<style>
    .adm{
        position: absolute;
        top: calc(30% - 100px);
        left: calc(45% - 200px);
        height: 1200px;
        width: 1000px;
        background-color: #D3D3D3;
        color: #191970;
        border-radius: 30px;
        padding: 10px;
        font-size: 20px;
    }
    .admini input[type=text]{
		width: 300px;
		height: 40px;
		background-color: #2F4F4F;
		border: 1px solid rgba(255,255,255,0.6);
		border-radius: 2px;
		color: #F7F9FC;
		font-family: 'Exo', sans-serif;
		font-size: 18px;
		font-weight: 400;
		padding: 4px;
		margin-top: 10px;
	}
    .admini input[type=submit]{
        width: 90px;
        height: 40px;
        background: #978989;
        border: 1px solid #fff;
        cursor: pointer;
        border-radius: 2px;
        color: #FFFFFF;
        font-size: 18px;
        font-weight: 400;
        padding: 4px;
        margin-top: 10px;
    }
</style>

<main>
    <div class="adm">
        <h3>訂單紀錄</h3>
        <div class="admini">
            <form action = "/order" method ="post">
                <input type ="text" placeholder ="order number ex:1" name = "ordernu">
                <input type ="submit" value = "搜尋">
        <form action = "/administrationuser">
            <table border = 5>
                <thead>
                   <td>訂單號</td>
                   <td>建立時間</td>
                   <td>會員帳號</td>
                   <td>品項號</td>
                   <td>品項名稱</td>
                   <td>品項金額</td>
                </thead>
                {% for row in rows %}
                    <tr>
                        <td>{{row[6]}}</td>
                        <td>{{row[7]}}</td>
                        <td>{{row[2]}}</td>
                        <td>{{row[1]}}</td>
                        <td>{{row[3]}}</td>
                        <td>{{row[4]}}</td>
                    </tr>
                {% endfor %}
</main>
{% endblock %}