{% extends "base2.html" %}
{% block title %}{% endblock title %}
{% block content %}

<style>
    
    .pur{
		position: absolute;
        top: calc(30% - 100px);
        left: calc(45% - 200px);
        height: 700px;
        width: 800px;
        background-color: #D3D3D3;
        color: #191970;
        border-radius: 30px;
        padding: 20px;
        font-size: 25px;
        overflow:scroll;
	}
    .pur thead {
        background-color: #5F9EA0;
        text-align: center;
        padding: 8px;
        color: #FFFFFF;
      }
    
</style>

<main>
    <div class="pur">
        <h3>購買紀錄</h3>
        <form action = "/purchasehistory">
            <table border = 5>
                <thead>
                    <td>訂單編號</td>
                   <td>已購買品項</td>
                   <td>NT$</td>
                </thead>
                {% for row in rows %}
                    <tr>
                        <td>{{row[6]}}</td>
                        <td>{{row[3]}}</td>
                        <td>{{row[4]}}</td>
               
                    </tr>
                {% endfor %}
            
    </main>
{% endblock %}