{% extends "base.html" %}
{% block title %}註冊{% endblock title %}
{% block content %}

<style>
    .reg{
        position: absolute;
        top: calc(60% - 200px);
        left: calc(50% - 200px);
        height: 470px;
        width: 700px;
        background-color: #D3D3D3;
        padding: 50px;
        
    }
    .reg input[type=email]{
        width: 500px;
        height: 40px;
        background-color: #2F4F4F;
        border: 1px solid rgba(255,255,255,0.6);
        border-radius: 2px;
        color: #FFFFFF;
        font-family: 'Exo', sans-serif;
        font-size: 30px;
        font-weight: 400;
        padding: 4px;
    }
    
    .reg input[type=password]{
        width: 500px;
        height: 40px;
        background-color: #2F4F4F;
        border: 1px solid rgba(255,255,255,0.6);
        border-radius: 2px;
        font-size: 30px;
        font-weight: 400;
        padding: 4px;
        margin-top: 10px;
    }
    .reg input[type=text]{
		width: 500px;
        height: 40px;
		background-color: #2F4F4F;
		border: 1px solid rgba(255,255,255,0.6);
		border-radius: 2px;
		color: #F7F9FC;
		font-family: 'Exo', sans-serif;
		font-size: 30px;
		font-weight: 400;
		padding: 4px;
		margin-top: 10px;
	}
    .reg input[type=date]{
		width: 500px;
        height: 40px;
		background-color: #2F4F4F;
		border: 1px solid rgba(255,255,255,0.6);
		border-radius: 2px;
		color: #F7F9FC;
		font-size: 30px;
		font-weight: 400;
		padding: 4px;
		margin-top: 10px;
	}
    .reg input[type=submit]{
        width: 200px;
        height: 45px;
        background: #978989;
        border: 1px solid #fff;
        cursor: pointer;
        border-radius: 2px;
        color: #FFFFFF;
        font-size: 25px;
        font-weight: 400;
        padding: 10px;
        margin-top: 10px;
    }
    .reg input[type=button]{
		width: 200px;
        height: 45px;
		background: #978989;
		border: 1px solid #fff;
		cursor: pointer;
		border-radius: 2px;
		color: #FFFFFF;
		font-size: 25px;
		font-weight: 400;
		padding: 10px;
		margin-top: 10px;
	}
    .reg input[type=text]:focus{
        outline: none;
        border: 1px solid rgba(255,255,255,0.9);
    }
    
    .reg input[type=password]:focus{
        outline: none;
        border: 1px solid rgba(255,255,255,0.9);
    }
</style>


<main>
    <div class="reg">
        <h2>註冊</h2>
		<form action = "/reg" method ="post">
				<input type ="email" placeholder ="email" name = "user"><br>
				<input type ="password" placeholder ="password" name = "passwd"><br>
				<input type ="text" placeholder ="name" name = "name"><br>
				<input type ="text" placeholder ="phonenumber" name = "phonenumber"><br>
				<input type ="date" placeholder ="birthday" name = "birthday"><br>
				<input type ="text" placeholder ="address" name = "address"><br>
				<input type ="submit" value = "REGISTER">
				<input type="button" onclick="history.back()" value="back">
				<ul class=flashes>
					<li>{{ message }}</li>   
				</ul>
    </main>	

{% endblock %}