{% extends "base.html" %}
{% block title %}salepage{% endblock %}
{% block content %}

<body>
    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <ul class="flash-messages">
            {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        <ul>
            <img src="{{ single_product[3] }}" alt="{{ single_product[1]}}">
            <li>{{ single_product[1] }}</li>
            <li>NT$ {{ single_product[2] }}</li>
            <li>商品編號 {{ single_product[0] }}</li>
            <p id="current-url"></p>

            <form action="/add_to_cart" method="POST">
                <input type="hidden" name="product_id" value="{{ single_product[0] }}">
                <input type="hidden" name="page_url" value="/salePage/{{single_product[0]}}">
                <input type="submit" name="add_to_cart" value="加入購物車"><br>
            </form>
            <li>商品說明 {{ single_product[6] }}</li>
        </ul>

    </div>
</body>

{% endblock %}